.form {
  border-radius: 6px;
  border-color: gray;
  background-color: lightgray;
  color: black;
  padding: 20px;
  margin-right: 17vw;
  margin-left: auto;
  margin-top: 5vh;
  text-align: left;
  width: 50vw;
}
input {
  width: 20%;
  color: black;
  padding: 8px 8px;
  margin: 8px 0px;
  border-radius: 6px;
  border: none;
  vertical-align: baseline;
  margin-left: 8px;
}

.question-unanswered {
  background-color: white;
}
.question-wrong {
  background-color: rgb(250, 66, 66);
}
.question-correct {
  background-color: lightgreen;
}

.conclusion {
  text-align: center;
  margin-left: 7vw;
  margin-top: 3vh;
}

.disclaimer {
  text-align: center; 
  margin-top: 5vh;
  background: darkgray;
  border-radius: 5px;
  width: 60vw;
  margin: 0 auto;
  margin-top: 5vh;

}
