<div class="form">
  <p>
    {{ questions[0]["q"] }}
  </p>
  <input
    #q1
    [ngClass]="{
      'question-unanswered': questionState['q1'][0],
      'question-wrong': questionState['q1'][1],
      'question-correct': questionState['q1'][2]
    }"
    [disabled]="!questionState['q1'][0]"
    type="text"
    name="answer"
  />
  <button
    [disabled]="!questionState['q1'][0]"
    class="align-baseline ml-2 btn btn-success"
    (click)="showAnswer(q1.value, 0)"
  >
    Submit
  </button>
  <p [hidden]="!questionState['q1'][1]">
    Correct Answer: {{ questions[0]["answer"] }}
  </p>
</div>
<div class="form">
  <p>
    {{ questions[1]["q"] }}
  </p>
  <input
    #q2
    [ngClass]="{
      'question-unanswered': questionState['q2'][0],
      'question-wrong': questionState['q2'][1],
      'question-correct': questionState['q2'][2]
    }"
    [disabled]="!questionState['q2'][0]"
    type="text"
    name="answer"
  />
  <button
    [disabled]="!questionState['q2'][0]"
    class="btn btn-success align-baseline ml-2"
    (click)="showAnswer(q2.value, 1)"
  >
    Submit
  </button>
  <p [hidden]="!questionState['q2'][1]">
    Correct Answer: {{ questions[1]["answer"] }}
  </p>
</div>
<div class="form">
  <p>
    {{ questions[2]["q"] }}
  </p>
  <input
    #q3
    [ngClass]="{
      'question-unanswered': questionState['q3'][0],
      'question-wrong': questionState['q3'][1],
      'question-correct': questionState['q3'][2]
    }"
    [disabled]="!questionState['q3'][0]"
    type="text"
    name="answer"
  />
  <button
    [disabled]="!questionState['q3'][0]"
    class="btn btn-success align-baseline ml-2"
    (click)="showAnswer(q3.value, 2)"
  >
    Submit
  </button>
  <p [hidden]="!questionState['q3'][1]">
    Correct Answer: {{ questions[2]["answer"] }}
  </p>
</div>

<div *ngIf="allAnswered" class="conclusion">
  <h3>You got {{ correct }}/3 questions right!</h3>
  <button class="btn btn-success mb-2" (click)="refreshPage()">
    Play again with this player/team
  </button>
</div>
