<form action="">
  <p>
    In the 2015 season the Royals had had 1500 hits and 300 runs, what
    percentage of their hits resulted in a run?
  </p>
  <input type="text" name="answer" />
  <input type="submit" value="Submit" />
</form>
<form action="">
  <p>
    In the 2015 season the Royals had had 1500 hits and 300 runs, what
    percentage of their hits resulted in a run?
  </p>
  <input type="text" name="answer" />
  <input type="submit" value="Submit" />
</form>
<form action="">
  <p>
    In the 2015 season the Royals had had 1500 hits and 300 runs, what
    percentage of their hits resulted in a run?
  </p>
  <input type="text" name="answer" />
  <input type="submit" value="Submit" />
</form>

<!-- <p style="margin-top: 1rem;">
    In the 2015 season the Royals had had 1500 hits and 300 runs, what
    percentage of their hits resulted in a run?
  </p>
  <input type="text" name="answer" />
  <input type="submit" value="Submit" />
  <p style="margin-top: 1rem;">
    In the 2015 season the Royals had had 1500 hits and 300 runs, what
    percentage of their hits resulted in a run?
  </p>
  <input type="text" name="answer" />
  <input type="submit" value="Submit" /> -->
