<div class="input">
  <input
    class="input-box"
    #box
    (keyup)="onEnter(box.value)"
    (keyup.enter)="getData()"
    placeholder="Enter a player's name"
  />
</div>

<div *ngIf="numReturned==-2" class="start-prompt">
  <h1 >Start typing a players name to have them show up!</h1>
  <h1 >Click on a player to be asked some questions!</h1>
  <h3>NOTE: Some players are minor league players so when clicked will not show a new page!</h3>
  <h3>NOTE: Some players have incomplete stats so some will have errors on question page</h3>

</div>

<ng-container *ngIf="buttonClicked; else showAll">
  <ng-container *ngIf="numReturned == -1; else results">
    <h3>No Results Found For "{{ searchTerm }}"</h3>
  </ng-container>
  <ng-template #results>
    <h3 *ngIf="numReturned != -2">
      {{ numReturned }} Results Found For "{{ searchTerm }}"
    </h3>
    <div class="grid-container">
      <ng-container *ngIf="numReturned > 1; else onePlayer">
        <div
          *ngFor="let item of players"
          class="results"
          (click)="
            showDetails(
              item.player_id,
              item.position,
              item.team_id,
              item.pro_debut_date
            )
          "
        >
          <h4>{{ item.name_first }} {{ item.name_last }}</h4>
          <img
            [src]="getPhoto(item.player_id)"
            onError="this.src='https://cdn2.iconfinder.com/data/icons/sports-attitudes/1451/baseball-512.png'"
          />
        </div>
      </ng-container>
      <ng-template #onePlayer>
        <div
          *ngIf="numReturned != -2"
          class="results"
          (click)="
            showDetails(
              players.player_id,
              players.position,
              players.team_id,
              players.pro_debut_date
            )
          "
        >
          <h4>{{ players.name_first }} {{ players.name_last }}</h4>
          <img
            [src]="getPhoto(players.player_id)"
            onError="this.src='https://cdn2.iconfinder.com/data/icons/sports-attitudes/1451/baseball-512.png'"
          />
        </div>
      </ng-template>
    </div>
  </ng-template>
</ng-container>
<ng-template #showAll>
  <div class="grid-container">
    <div
      *ngFor="let item of players"
      class="results"
      (click)="
        showDetails(
          item.player_id,
          item.position,
          item.team_id,
          item.pro_debut_date
        )
      "
    >
      <h4>{{ item.name_first }} {{ item.name_last }}</h4>
      <img
        [src]="getPhoto(item.player_id)"
        onError="this.src='https://cdn2.iconfinder.com/data/icons/sports-attitudes/1451/baseball-512.png'"
      />
    </div>
  </div>
</ng-template>
