/* You can add global styles to this file, and also import other style files */
.bg-img {
  background-image: url("assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  // background-size: contain
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

html {
  overflow-x: hidden;
}
